{% extends 'SuperAdminPanel/main.html' %} {% block body %}
<script>
  SideBarActive("exception");
</script>
<div class="flex flex-col gap-6">
  <h1 class="font-semibold text-2xl">Exception Records</h1>
  <form class="flex items-center justify-end gap-3" action="{% url 'ExceptionPage' %}">
    <div>
      <select name="status_code" class="px-4 py-2 border rounded-lg text-gray-700">
        <option value="">All</option>
        {% for code in status_codes %}
          <option value="{{code}}" {% if request.GET.status_code == '{{code}}' %}selected{% endif %}>{{code}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <input type="text" name="business_name" value="{{request.GET.business_name}}" class="border rounded-lg px-3 py-2 text-gray-700" placeholder="Business/Tenant Name">
    </div>
    <div>
      <select name="request_method" class="px-4 py-2 border rounded-lg text-gray-700">
        <option value="">All</option>
        <option value="GET" {% if request.GET.request_method == 'GET' %}selected{% endif %} >GET</option>
        <option value="POST" {% if request.GET.request_method == 'POST' %}selected{% endif %} >POST</option>
        <option value="PUT" {% if request.GET.request_method == 'PUT' %}selected{% endif %} >PUT/Update</option>
        <option value="DELETE" {% if request.GET.request_method == 'DELETE' %}selected{% endif %} >DELETE</option>
      </select>
    </div>
    <div>
      <input type="date" value="{{request.GET.date}}" class="border rounded-lg px-3 py-2 text-gray-700" name="date">
    </div>
    {% if request.GET %}
      <a href="{% url 'ExceptionPage' %}" class="px-5 py-2 cursor-pointer rounded-full flex items-center gap-3 bg-[#5679ff] text-white">Clear</a>
    {% endif %}
    <button class="px-5 py-2 active_sidebar cursor-pointer rounded-full flex items-center gap-3 active_sidebar_active">Apply</button>
  </form>
  <div class="border rounded-lg">
    <div class="overflow-x-auto">
      <div
        class="inline-grid xl:grid grid-cols-[repeat(6,minmax(195px,1fr))] px-12 py-3 bg-[#FBFCFF] text-sm font-semibold min-w-full w-fit"
      >
        <p>Status Code</p>
        <p>Tenant</p>
        <p>Error Content</p>
        <p>Path</p>
        <p>Method</p>
        <p>Details</p>
      </div>
      <div class="odd-bg text-[#3A3A3A] transition-all">
        {% for exception in exceptions %}

        <div class="px-12 py-3 inline-grid xl:grid grid-cols-[repeat(6,minmax(200px,1fr))]">
          <div class="flex items-center"><p class="text-sm">{% if exception.status_code%}{{exception.status_code}}{% else %} 400 {% endif %}</p></div>
          <div class="flex items-center"><p class="text-sm">{% if exception.get_tenant_name %}{{exception.get_tenant_name}}{% else %} Public {% endif %}</p></div>
          <div class="flex items-center"><p class="text-sm">{{exception.text|truncatechars:20}}</p></div>
          <div class="flex items-center"><p class="text-sm">{% if exception.path%}{{exception.path|truncatechars:20}}{% else %}No Path {% endif %}</p></div>
          <div class="flex items-center"><p class="text-sm">{% if exception.method %}{{exception.method}}{% else %} None {% endif %}</p></div>
          <div class="flex items-center"><a href="/super-admin/exception-detail/?id={{exception.id}}" class="text-sm underline">See Details</a></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="flex items-center gap-4 mx-4 justify-end my-5">
    {% if page_obj.has_previous %}
      <a class="bg-[#3b82f6] px-4 py-2 rounded-lg text-white" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <div class="flex gap-2">
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <a href="{% url 'ExceptionPage' %}?page={{i}}" class="w-[30px] h-[30px] bg-[#101928] text-white rounded-md flex items-center justify-center">{{ i }} </a>
        {% else %}
          <a class="w-[30px] h-[30px] bg-gray-100 rounded-md flex items-center justify-center" href="{% url 'ExceptionPage' %}?page={{i}}">{{ i }}</a>
        {% endif %}
      {% endfor %}
    </div>
    {% if page_obj.has_next %}
      <a class="bg-[#3b82f6] px-4 py-2 rounded-lg text-white" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

{% endblock body %}
